<h1>Upload New Item!</h1>

<%= form_for ([@user, @user.items.build]) do |f| %>
    <div>
      User Name = <%= @user.first_name %>
    </div>

    <div>
        <%= f.label :item_name %>
        <%= f.text_field :item_name %>
    </div>

    <div>
        <%= f.label :stock_quantity %>
        <%= f.number_field :stock_quantity %>
    </div>

    <div>
        <%= f.label :marked_price %>
        <%= f.number_field :marked_price %>
    </div>


    <%= f.submit "Submit!" %>

<% end %>
